/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  /* display: none; */
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  /*border: 10px solid transparent;*/
}

::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  /*box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset;*/
  background: #e6e4e4;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #cdcdcd;
}

.block_show_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
