.container{
    display: flex;
    flex-direction: row;
    flex:1;
    height: 100vh;
  }
  .is-vertal{
    flex-direction: column;
  }
  .head{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom:solid 1px gainsboro ;
    
  }
  .aside{
    overflow: auto;
    width: 240px;
    background-color: white;
    overflow: auto;
    margin-top: 80px;
    border-right:solid 1px gainsboro ;
  }
  .main{
    margin-top: 80px;
    padding: 20px;
    flex: 1;
    background-color: white;
    overflow: auto;
  }
  .main::-webkit-scrollbar{
      width:0;
    }

  
  
   